.links {
  display: flex;
  align-items: center;
  padding: 12px;
}
.links ul {
  width: 310px;
}
.links ul li {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  line-height: 21px;
  margin-bottom: 15px;
}
.open-text,
.small-text {
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;
}
.open-text {
  text-decoration: underline;
  cursor: pointer;
}
.small-text {
  margin-top: 24px;
  font-size: 14px;
  color: var(--dim-color);
}
.container select{
  transform: translateX(11px);
  border: 1px solid var(--drop-color);
  font-size: 16px;
  background: transparent;
  opacity: 70%;
  color: white;
  border-radius: 5px;
  width: 126px;
  height: 32px;
  padding: 6px;
}